@using PagedList;
@using PagedList.Mvc;
@model CarSharing.Models.VehicleManagementModel
@using CarSharing.Helpers
@using CarSharing.Controllers

@{
    ViewBag.Title = "Đăng ký đối tác";
    ViewBag.ActionCurrent = "Index";
    ViewBag.ControllerCurrent = "Users";
    //var pager = Html.PagedListPager(Model.PagedUsers, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.ClassicPlusFirstAndLast);
    var pager = Model.PagedUsers;
    int totalPages = (int)Math.Ceiling((double)pager.TotalItemCount / pager.PageSize);
    int maxVisiblePages = 5;
    int startPage = Math.Max(1, pager.PageNumber - maxVisiblePages / 2);
    int endPage = Math.Min(startPage + maxVisiblePages - 1, totalPages);

    int itemsPerPage = pager.PageSize;

    if (endPage - startPage + 1 < maxVisiblePages)
    {
        startPage = Math.Max(1, endPage - maxVisiblePages + 1);
    }
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                            <h2 class="ml-lg-2">Đăng ký đối tác</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.User.Email)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.User.Phone)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.User.Address)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var pagedUser in Model.PagedUsers)
                        {
                            foreach (var User in pagedUser.ListUsers)
                            {
                                <tr>
                                    <td class="text-center" style="width:20%">
                                        @Html.DisplayFor(modelItem => User.FullName)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => User.Email)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => User.Phone)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => User.Address)
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="mr-2">
                                                <a href="#updatePartnerModal" class="edit" data-toggle="modal" data-id="@User.UserId">
                                                    <i class="material-icons" data-toggle="tooltip" title="Cập nhật">&#xE254;</i>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#deletePartnerModal" class="delete" data-toggle="modal" data-id="@User.UserId">
                                                    <i class="material-icons" data-toggle="tooltip" title="Xóa">&#xE872;</i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <div class="clearfix">
                    <div class="hint-text">Hiển thị <b>@Model.PagedUsers.Count</b> trong số <b>@Model.ListUsers.Count</b></div>
                    <ul class="pagination">
                        @if (pager.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a href="@Url.Action("Index", new { page = 1, currentFilter = ViewBag.CurrentFilter })" class="page-link">Đầu</a>
                            </li>
                            <li class="page-item">
                                <a href="@Url.Action("Index", new { page = pager.PageNumber - 1, currentFilter = ViewBag.CurrentFilter })" class="page-link">Trước</a>
                            </li>
                        }

                        @for (int pageNumber = startPage; pageNumber <= endPage; pageNumber++)
                        {
                            <li class="page-item @(pager.PageNumber == pageNumber ? "active" : "")">
                                <a href="@Url.Action("Index", new { page = pageNumber, currentFilter = ViewBag.CurrentFilter })" class="page-link">@pageNumber</a>
                            </li>
                        }

                        @if (pager.HasNextPage)
                        {
                            <li class="page-item">
                                <a href="@Url.Action("Index", new { page = pager.PageNumber + 1, currentFilter = ViewBag.CurrentFilter })" class="page-link">Tiếp</a>
                            </li>
                            <li class="page-item">
                                <a href="@Url.Action("Index", new { page = totalPages, currentFilter = ViewBag.CurrentFilter })" class="page-link">Cuối</a>
                            </li>
                        }
                    </ul>
                </div>

                @using (Html.BeginForm("AddPartner", "Users", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal fade" tabindex="-1" id="updatePartnerModal" role="dialog">
                        <div class="modal-dialog" role="document" style="max-width: 600px">
                            @Html.HiddenFor(model => model.User.UserId)
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Trở thành đối tác</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                    <input type="submit" value="Cập nhật" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="modal fade" tabindex="-1" id="deletePartnerModal" role="dialog">
                    <div class="modal-dialog" role="document" style="max-width: 600px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xóa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn có muốn bỏ qua người dùng này không?</p>
                                <p class="text-warning"><small>Hành động này không được hoàn tác</small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                <form id="deleteForm" action="@Url.Action("DeletePartner", "Users")" method="post" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" id="deleteId" value="" />
                                    <button type="submit" class="btn btn-success">Xóa</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.edit').click(function () {
            var userid = $(this).data('id');

            $('#updatePartnerModal #User_UserId').val(userid);
        });

        $('.delete').click(function () {
            var userid = $(this).data('id');
            alert(userid)
            $('#deleteId').val(userid);
        });
    </script>
}
