@model CarSharing.Models.VehicleManagementModel

<div class="mt-3" id="list-booking">
    @foreach (var item in Model.ListBookings)
    {
        <div class="booking-item my-3">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-vehicle w-100" src="@item.Vehicle.ImageVehicle" alt="Ảnh xe">
                </div>
                <div class="col-lg-6">
                    <h5 class="text-uppercase fw-bold">@item.Vehicle.VehicleName</h5>
                    <div class="mt-3">@item.StartTime → @item.EndTime</div>
                    <div class="fw-bold my-2">@(Math.Round(item.TotalPrice).ToString("N0")) VNĐ</div>
                    @if (item.Status == "Chờ duyệt" || item.Status == "Đã duyệt")
                    {
                        <div class="fw-bold p-1 d-inline text-white bg-warning">@item.Status</div>
                    }
                    @if (item.Status == "Đã hủy")
                    {
                        <div class="fw-bold p-1 d-inline text-white bg-danger">@item.Status</div>
                    }
                    @if (item.Status == "Đã hoàn tất")
                    {
                        <div class="fw-bold p-1 d-inline text-white bg-success">@item.Status</div>
                    }
                </div>
                <div class="col-lg-3">
                    @if (item.Status == "Chờ duyệt")
                    {
                        <a href="@Url.Action("BrowserOrder", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-success w-100 mb-2 mt-2 mt-lg-0">Duyệt</button>
                        </a>
                        <a href="@Url.Action("TripDetail", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-success w-100 mb-2 mt-lg-0">Xem chi tiết</button>
                        </a>
                        <a href="@Url.Action("CancelOrder", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-danger w-100">Hủy đơn</button>
                        </a>
                    }

                    @if (item.Status == "Đã duyệt")
                    {
                        <a href="@Url.Action("SuccessOrder", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-success w-100 mb-2 mt-2 mt-lg-0">Hoàn thành</button>
                        </a>
                        <a href="@Url.Action("TripDetail", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-success w-100 mb-2 mt-lg-0">Xem chi tiết</button>
                        </a>
                        <a href="@Url.Action("CancelOrder", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-danger w-100">Hủy đơn</button>
                        </a>
                    }

                    @if (item.Status == "Đã hoàn tất" || item.Status == "Đã hủy")
                    {
                        <a href="@Url.Action("TripDetail", "UserInfo", new {bookingId = item.BookingId})">
                            <button type="button" class="btn btn-success w-100 mb-2 mt-2 mt-lg-0">Xem chi tiết</button>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>