@model CarSharing.Models.VehicleManagementModel

@{
    ViewBag.Title = "Danh sách xe";
}
<div id="mycontent" class="pt-6 pb-5 pb-lg-0" style="min-height: 700px">
    <div class="container">
        <div class="row my-3">
            @Html.Partial("_UserInfo")
            <div class="col-lg-8 mt-3 mt-lg-0">
                <div style="width: 150px">
                    <a href="@Url.Action("CreateVehicle", "UserInfo")">
                        <button type="button" class="btn btn-success w-100 mt-lg-0">Thêm xe</button>
                    </a>
                </div>
                <div class="mt-3" id="list-booking">
                    @foreach (var vehicle in Model.ListVehicles)
                    {
                        <div class="booking-item my-3">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img class="img-vehicle w-100" src="@vehicle.ImageVehicle" alt="Ảnh xe">
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="text-uppercase fw-bold">@vehicle.VehicleName</h5>
                                    <div class="mt-3">
                                        @if (vehicle.Reviews.Count == 0)
                                        {
                                            @Html.Raw("Chưa có đánh giá")
                                        }
                                        else
                                        {
                                            float rating = 0;
                                            foreach (var review in vehicle.Reviews)
                                            {
                                                rating += review.Rating;
                                            }
                                            <i class="fa-solid fa-star text-warning"></i>
                                            @Html.Raw((rating / vehicle.Reviews.Count).ToString("0.0")) @Html.Raw((vehicle.Reviews.Count).ToString(" đánh giá"))
                                        }
                                    </div>
                                    <div class="fw-bold my-2">@(Math.Round(vehicle.VehiclePrice).ToString("N0")) VNĐ/Ngày</div>
                                </div>
                                <div class="col-lg-3">
                                    <a href="@Url.Action("Detail", "Vehicle", new { id = vehicle.VehicleId})">
                                        <button type="button" class="btn btn-success w-100 mb-2 mt-2 mt-lg-0">Chi tiết</button>
                                    </a>
                                    <a href="@Url.Action("EditVehicle", "UserInfo", new { id = vehicle.VehicleId})">
                                        <button type="button" class="btn btn-warning w-100 mb-2 mt-2 mt-lg-0">Cập nhật</button>
                                    </a>
                                    <button type="button" class="delete btn btn-danger w-100 mb-2 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#deleteVehicleModal" data-id="@vehicle.VehicleId">
                                        Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteVehicleModal" tabindex="-1"aria-hidden="true" style="margin-top: 160px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa xe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa xe này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở về</button>
                <form id="deleteForm" action="@Url.Action("DeleteVehicle", "UserInfo")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" id="deleteId" value="" />
                    <button type="submit" class="btn btn-success">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.delete').click(function () {
            var vehicleId = $(this).data('id');
            $('#deleteId').val(vehicleId);
        });

        $(document).ready(function () {
            $("#VehicleTypeId").change(function () {
                var selectedVehicleTypeId = $(this).val();
                localStorage.setItem("selectedVehicleTypeId", selectedVehicleTypeId);

                var savedStatus = localStorage.getItem("selectedStatus");

                $.ajax({
                    url: '/UserInfo/TripListType',
                    type: 'GET',
                    data: { status: savedStatus, vehicleTypeId: selectedVehicleTypeId },
                    success: function (res) {
                        $("div#list-booking").html(res);
                        history.pushState({}, '', `/UserInfo/TripList?status=${savedStatus}&vehicleTypeId=${selectedVehicleTypeId}`);
                    },
                });
            });

            $(".nav-link").click(function () {
                var selectedStatus = $(this).val();
                localStorage.setItem("selectedStatus", selectedStatus);

                var savedVehicleTypeId = localStorage.getItem("selectedVehicleTypeId");

                $(".nav-link").removeClass("active text-success").addClass("text-dark");
                $(this).removeClass("text-dark").addClass("text-success active");

                $.ajax({
                    url: '/UserInfo/TripListType',
                    type: 'GET',
                    data: { status: selectedStatus, vehicleTypeId: savedVehicleTypeId },
                    success: function (res) {
                        $("div#list-booking").html(res);
                        history.pushState({}, '', `/UserInfo/TripList?status=${selectedStatus}&vehicleTypeId=${savedVehicleTypeId}`);
                    },
                });
            });

            var savedVehicleTypeId = localStorage.getItem("selectedVehicleTypeId");
            var savedStatus = localStorage.getItem("selectedStatus");

            if (savedVehicleTypeId) {
                $("#VehicleTypeId").val(savedVehicleTypeId);
            }

            // Set initial active nav-link based on savedStatus
            if (savedStatus) {
                $(".nav-link").removeClass("active text-success").addClass("text-dark");
                $(".nav-link[value='" + savedStatus + "']").removeClass("text-dark").addClass("text-success active");
            }

            // Set active nav-link on page load based on query parameters
            var urlParams = new URLSearchParams(window.location.search);
            var statusParam = urlParams.get("status");
            if (statusParam && statusParam !== savedStatus) {
                $(".nav-link").removeClass("active text-success").addClass("text-dark");
                $(".nav-link[value='" + statusParam + "']").removeClass("text-dark").addClass("text-success active");
                localStorage.setItem("selectedStatus", statusParam);
            }
        });

    </script>
}