@model CarSharing.Models.VehicleManagementModel

<div id="mycontent" class="pt-6 pb-5 pb-lg-0" style="min-width: 700px;">
    <div class="container">
        <div class="row my-3">
            @Html.Partial("_UserInfo")
            <div class="col-lg-8 mt-3 mt-lg-0">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="w-100 img-vehicle" src="@Model.Booking.Vehicle.ImageVehicle" alt="Ảnh xe">
                    </div>
                    <div class="col-lg-7">
                        <div class="fs-4 fw-bold text-success">@Model.Booking.Vehicle.VehicleName</div>
                        <div class="fs-7">
                            @if (Model.Booking.Vehicle.Reviews.Count == 0)
                            {
                                @Html.Raw("Chưa có đánh giá");
                            }
                            else
                            {
                                float rating = 0;
                                foreach (var review in Model.Booking.Vehicle.Reviews)
                                {
                                    rating += review.Rating;
                                }
                                <i class="fa-solid fa-star text-warning"></i>
                                @Html.Raw((rating / Model.Booking.Vehicle.Reviews.Count).ToString("0.0"))
                            }
                        </div>
                        <div class="fs-6 pt-1 fw-bold text-body-tertiary"><i class="fa-solid fa-location-dot mx-1 text-body"></i>Quận Thủ Đức, Hồ Chí Minh</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <div class="text-uppercase fs-6 fw-bold text-success mb-3">Thông tin khách hàng</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Họ tên</div>
                            <div class="fs-6 mb-3">@Model.Booking.FullName</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Số điện thoại</div>
                            <div class="fs-6 mb-3">@Model.Booking.Phone</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Địa chỉ Email</div>
                            <div class="fs-6 mb-3">@Model.Booking.Email</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Địa chỉ</div>
                            <div class="fs-6 mb-3">@Model.Booking.Address</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Ghi chú</div>
                            <div class="fs-6 mb-3">@Model.Booking.Note</div>
                        </div>
                        <div class="col-6">
                            <div class="text-uppercase fs-6 fw-bold text-success mb-3">Chi tiết đặt xe</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Trạng thái</div>
                            <div class="fs-6 mb-3">@Model.Booking.Status</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Hình thức thanh toán</div>
                            <div class="fs-6 mb-3">Thanh toán khi nhận xe</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Giá thuê</div>
                            <div class="fs-6 mb-3">@(Math.Round(Model.Booking.TotalPrice).ToString("N0")) VNĐ</div>
                            <div class="text-uppercase fs-6 fw-bold mb-1">Thời gian thuê</div>
                            <div class="fs-6 mb-3">@Model.Booking.StartTime → @Model.Booking.EndTime</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success my-2 mt-lg-0 px-5" onclick="goBack()">Quay lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function goBack() {
            history.back();
        }
    </script>
}